# Ignore large input files
predictors/fishing_effort/inputs/gfw/
predictors/depth/inputs/BSBD_0.9.6_250m/
predictors/substrate/inputs/EUSeaMap_2023_Biozone/
predictors/substrate/inputs/HOLAS_BALANCE_Sediment/

# Ignore temporary directories
predictors/temperature/inputs/temp/
predictors/wave_exposure/inputs/temp/
predictors/temperature/inputs/temp/
predictors/salinity/inputs/temp/

# Ignore final predictor stack
predictors/predictor_stack.tif
predictors/predictor_stack.tif.aux.xml
predictors/predictor_stack_vif.tif
predictors/predictor_stack_vif.tif.aux.xml

# Ignore large observation data
models/sdms/benthic_species/inputs/EE_benthic_species_observations_19062024.csv
models/sdms/benthic_species/inputs/ICES_benthic_species_zoobenthos_23082024.csv

# Ignore archives
_archive/
**/inputs/temp/

# Ignore user files
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
.Rproj.user
